<div class="container">

    <h1>Thank you!</h1>

    <h3>You have successfully completed e-signing your agreement.</h3>

    <div class="check-icon">
        <img src="assets/check247.gif">
    </div>

    <h3>We still require some additional documentation from you. Why not head over to our members are and do this now. </h3>

    <div class="button-container">
        <button class="btn btn-success" routerLink="/members-documents">
            Go to members area
        </button>
    </div>

</div>