
/* .check-icon {
    font-size: 64px;
    color: #b1da5c;
    text-align: center;
    margin-bottom: 10px;
} */

.check-icon img {
    width: 140px;
}

.button-container {
    text-align: center;
}

.container {
    text-align: center;
}