h1 {
    margin-bottom: 15px;
}
.check-icon {
    font-size:48px;
    color:#b1da5c;
    text-align: center;
    margin-bottom: 15px;
}

.button-container{
    text-align: center;
}

.btn {
    margin-top: 10px;
}

*{
    text-align: center;
}