<div class="container">

    <h1>Thank you!</h1>

    <h3>
        You have successfully completed the e-sign of your agreement.
    </h3>

    <div class="check-icon">
        <img src="assets/check247.gif">
    </div>

    <!-- Docs outstanding from Dealer -->
    <h3>
        We have everything that we need from you and we are just waiting for the supplying dealership to return their documents. 
        Your advisor will be in touch shortly to take you through the next steps and to get you behind the wheel of your new vehicle! 
    </h3>

    <div class="button-container">
        <button class="btn btn-success" routerLink="/members-documents">
            Return to members' area
        </button>
    </div>

</div>