.members-bg{
    background-image: url("members-home.png");
    height: 1445px;
    width: 720px;

    top: -66px;
    
    display: block;
    position: relative;
}

.docs-btn {
    position: relative;
    left: 232px;
    top: 817px;
    height: 40px;
    width: 217px;
    cursor: pointer;
    border: 1px solid black;
    color: white;
    vertical-align: middle;
    line-height: 22px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    background: inherit;
    /* background-color: white; */
    padding: 25px;
    margin: 0 auto;
    margin-top: 66px;
    width: inherit;
    text-align: center;
    width: 720px;
    padding: 0;
}