/* You can add global styles to this file, and also import other style files */

body {
    background-color: #FFFFFF;
    font-family: Lato,sans-serif;
}

div[app-root] {
    background-color: white;
}


.container {
    color: white !important;
    padding: 0 25px;
    margin:0 auto;
    
    margin-top: 30px;
    width: inherit;
    border-radius: 7px;
    margin-bottom: 30px;
}


html,body { height:100%; }


// Form Inputs
.checkbox {
    border-color: #33AFE6;
}

// Modals

.modal-body {
    font-size: 20px;
}

.cursor-pointer{
    cursor: pointer;
}

// Helpers

.float-right{
    float: right;
}

@import "assets/styles/accordions.less";
@import "assets/styles/buttons.less";
@import "assets/styles/branding.less";
@import "assets/styles/cards.less";
@import "assets/styles/form-controls.less";
@import "assets/styles/typography.less";