<div class="container">
    <h1>Hi Stephen</h1>

    <h3>
        Thank you for choosing 247Money.
        It’s now time to sign your agreement. Please take your time reading through each section of this before signing. 
    </h3>
    <h3>
        <strong>
            Firstly, please check the details below before you start:
        </strong>
    </h3>

    <div class="card-group summary">
        <div class="card" style="margin-right: 25px;">
            <div class="card-header">
                <!-- <span class="fa fa-car"></span> -->
                <b>Vehicle</b>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>Make:</td>
                        <td>Ford</td>
                    </tr>
                    <tr>
                        <td>Model:</td>
                        <td>Focus</td>
                    </tr>
                    <tr>
                        <td>Registration:</td>
                        <td>VCZ 3433</td>
                    </tr>
                    <tr>
                        <td>Year of purchase:</td>
                        <td>2002</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card" style="margin-left: 25px;">
            <div class="card-header">
                <!-- <span class="pound">£</span> -->
                <b>Finance Details</b>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>Amount borrowed:</td>
                        <td>£10,000</td>
                    </tr>
                    <tr>
                        <td>Monthly Payment:</td>
                        <td>£100</td>
                    </tr>
                    <tr>
                        <td>Term:</td>
                        <td>48 months</td>
                    </tr>
                    <tr>
                        <td>Total Repayment:</td>
                        <td>£12,000</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <h3>
            <strong>
                If any of the details above are incorrect, please contact 
                <span class="blue">Dave</span>
                on 
                <span class="blue">0161 850 1843</span>
            </strong>
        </h3>

        <hr />

        <button class="btn btn-lg btn-success" routerLink="/signAgreement">
            Let's get started
        </button>
    </div>

</div>
