.summary {
    
}

.summary .card{
    background: #FFFFFF;
    color: black;
    border: #EBEBEB;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    margin: 5px;
}
table {
    margin: 15px;
    border: 0;
}
td {
    border: 0;
}

.card-header {
    color: #211850;
    background: #EBEBEB;
    padding: 16px;
    font-size: 1.2em;
    border-bottom: 0;
}
.pound {
    padding-right: 5px;
    font-weight: bold;
}

.fa {
    padding-right: 5px;
}

.card-body {
    padding: 0;
}
.card-body table td:last-child{
    font-weight: 900;
}

h3 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 0px;
}
