.members-bg{
    background-image: url("members.png");
    height: 971px;
    width: 1024px;
    display: inline;
    position: absolute;
}

.complete-btn {
    position: relative;
    left: 300px;
    top: 605px;
    border: 1px solid red;
    height: 40px;
    width: 206px;
    background: #06aeff;
    cursor: pointer;
}
.complete-btn .btn-text {
    font-size: 18px;
    left: 64px;
    position: absolute;
    color: white;
    top: 4px;
    font-weight: 500;
    cursor: pointer;
}
.complete-btn.disabled {
    background: transparent;
    cursor: not-allowed;
}

.verify-checkbox {
    position: relative;
    left: 46px;
    top: 607px;
    border: 1px solid red;
    height: 25px;
    width: 25px;
    float: left;
}

.verify-checkbox .fa {
    position: relative;
    left: 5px;
    color: #29a929;
}