<div class="container">
    
    <h3>
        <strong>
            Please make sure you read the information carefully and scroll to the bottom of each section to sign
        </strong>
    </h3>

    <ngb-accordion [closeOthers]="true" activeIds="static-1" #acc="ngbAccordion" (panelChange)="beforeChange($event)">
        <ngb-panel id="secciPanel">
            <ng-template ngbPanelTitle>
                <div class="accordion-text">
                        Pre Contract Information  

                        <span class="fa-stack">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <i class="fa fa-info fa-stack-1x"></i>
                        </span>
                              
                    <!-- <span
                    class="fa fa-info-circle"
                    (click)="open(modal1)"></span> -->
                    
                    <button
                        class="btn float-right"
                        [ngClass]="{'btn-success': !SECCIagreementComplete, 'btn-light': SECCIagreementComplete }"
                        (click)="panelLock = false;">
                        {{ !SECCIagreementComplete ? 'START ' : '' }}
                        <i class="fa" [ngClass]="acc.activeIds == 'secciPanel' ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                    </button>
                    <span *ngIf="SECCIagreementComplete" class="agreementTick">&#10004;</span>
                </div>

            </ng-template>
            <ng-template ngbPanelContent>
                <div class="agreement">
                    <precontract-component></precontract-component>

                    <hr>

                    <div class="signature-container">
                        <input type="checkbox" [checked]="SECCIagreementComplete" (change)="setSECCIagreement(!SECCIagreementComplete, acc)">
                        <label> I Agree I have read the Pre-Contact Agreement </label>
                        
                        <button class="btn btn-success" (click)="nextPanel('tncPanel', acc)" [disabled]="!SECCIagreementComplete"> Next document </button>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel [disabled]="!SECCIagreementComplete" id="tncPanel">
            <ng-template ngbPanelTitle>
                <div class="accordion-text">
                        Terms & Conditions

                    <span
                    class="fa fa-info-circle"
                    (click)="open(modal2)"></span>
                    
                    <button class="btn float-right" [ngClass]="{
                                    'btn-success': !TnCsagreementComplete,
                                    'btn-light': TnCsagreementComplete 
                                    }"
                                    [disabled]="!SECCIagreementComplete"
                                    (click)="panelLock = false;">
                                {{ !TnCsagreementComplete ? 'START ' : '' }}
                        <i class="fa" [ngClass]="acc.activeIds == 'tncPanel' ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                    </button>
                    <span *ngIf="TnCsagreementComplete" class="agreementTick">&#10004;</span>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="agreement">
                    {{ agreementBody }}
                    
                    <hr>

                    <div class="signature-container">
                        <input type="checkbox" [checked]="TnCsagreementComplete" (change)="setTnCsagreement(!TnCsagreementComplete, acc)">
                        <strong> I Agree I have read the Terms & Conditions.</strong>
                        
                        <button class="btn btn-success" (click)="nextPanel('hpPanel', acc)" [disabled]="!TnCsagreementComplete"> Next document </button>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel [disabled]="!TnCsagreementComplete" id="hpPanel">
            <ng-template ngbPanelTitle>
                <div class="accordion-text">
                        Hire Purchase Agreement
                    
                    <span
                    class="fa fa-info-circle"
                    (click)="open(modal3)"></span>

                    <button class="btn float-right" [ngClass]="{
                                'btn-success': !HPagreementComplete,
                                'btn-light': HPagreementComplete
                                }"
                                [disabled]="!TnCsagreementComplete"
                                (click)="panelLock = false;">
                            {{ !HPagreementComplete ? 'START ' : '' }}
                        <i class="fa" [ngClass]="acc.activeIds == 'hpPanel' ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                    </button>
                    <span *ngIf="HPagreementComplete" class="agreementTick">&#10004;</span>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="agreement">
                    {{ agreementBody }}

                    <hr>

                    <div class="signature-container">
                        <input type="checkbox" [checked]="HPagreementComplete" (change)="setHPagreement(!HPagreementComplete, acc)">
                        <strong> I Agree I have read the Hire Purchase Agreement.</strong>
                    
                        <button class="btn btn-success" (click)="nextPanel('ddmPanel', acc)" [disabled]="!HPagreementComplete"> Next document </button>                    
                    </div>
                
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel [disabled]="!HPagreementComplete" id="ddmPanel">
            <ng-template ngbPanelTitle>
                <div class="accordion-text">
                        Direct Debit Mandate
                        
                    <span
                        class="fa fa-info-circle"
                        (click)="open(modal4)"></span>
                    <button class="btn float-right" [ngClass]="{
                                'btn-success': !DDMagreementComplete,
                                'btn-light': DDMagreementComplete 
                                }"
                                [disabled]="!HPagreementComplete"
                                (click)="panelLock = false;">
                        {{ !DDMagreementComplete ? 'START ' : '' }}
                            
                        <i class="fa" [ngClass]="acc.activeIds == 'ddmPanel' ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                    
                    </button>
                    <span *ngIf="DDMagreementComplete" class="agreementTick">&#10004;</span>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="agreement">
                    {{ agreementBody }}

                    <hr>

                    <div class="signature-container">
                        <input type="checkbox" [checked]="DDMagreementComplete" (change)="setDDMagreement(!DDMagreementComplete, acc)" />
                        <strong> I Agree I have read the Direct Debit Mandate.</strong>
                    </div>
                    
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <br/>
    
    <button class="btn btn-success"
        [attr.disabled]="!completeButtonEnabled == true ? true : null" 
        routerLink="/completeAgreement">
        Click and Complete
    </button>

    <br />
</div>



<ng-template #modal1 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Pre-Contract Agreement</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>The PCI is a standardised form designed to show you exactly what your finance agreement contains.
            The form will include key details such as type of credit, Annual Percentage Rate (APR), number and frequency of payments, and total amount owed</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
      
<ng-template #modal2 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Terms & Conditions</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            Terms of service (also known as terms of use and terms and conditions, commonly abbreviated as ToS or ToS and ToU) 
            are rules by which one must agree to abide in order to use a service. Terms of service can also be merely a disclaimer,
            especially regarding the use of websites.    
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #modal3 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Hire Purchase Agreement</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>If you choose to pay for your car with a Hire Purchase agreement, you will normally pay an initial deposit and will pay off the entire value of the car in monthly instalments.
                When all the payments are made, the Hire Purchase agreement ends and you own the car.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #modal4 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Direct Debit Mandate</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>A Direct Debit Instruction is an authorisation from your customer to collect future payments.
                The details of each authorisation are standardised: All future payments are authorised so you can collect any amount at any time from your customer.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
