.container{
    margin-bottom: 20px;
}
.agreement { 
    height:400px;
    overflow-y: scroll;
}

.agreementTick{
    float: right;
    color: #0C0;
}

.agreementButton{
    float: right;
}

h3 {
    color: #30225d;
    text-align: left;
}

.agreement{
    color: black;
    text-align: left;
}