.agreement { 
    height:400px;
    overflow-y: scroll;
}

.agreementTick{
    float: right;
    color: #0C0;
}

.argeementButton{
    float: right;
}

#completeButtonDiv{
    margin-left: auto;
    margin-right: auto;
}