.agreement { 
    height:400px;
    overflow-y: scroll;
}

.agreementTick{
    float: right;
    color: #0C0;
}

.agreementCross{
    float: right;
    color: #C00;
}

h3 {
    color: #30225d;
    text-align: left;
}